<Layouts.app flash={@flash}>
  <.header>
    New Promotion
    <:subtitle>Use this form to manage promotion records in your database.</:subtitle>
  </.header>

  <.promotion_form changeset={@changeset} action={~p"/promotions"} return_to={~p"/promotions"} />
</Layouts.app>
